{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="home-content">
    <h1>Welcome to 6 Degrees of Kevin Bacon</h1>
    <p style="font-size: 1.2rem; color: #555; margin-top: 15px;">
        A game of finding connections between actors through the movies they've starred in.
    </p>
    
    <p style="font-size: 1rem; color: #555; margin-top: 40px; margin-bottom: 25px;">Please choose an option below to get started.</p>
    <div class="button-container">
        <a href="{{ url_for('login') }}" class="button">Login</a>
        <a href="{{ url_for('start_guest_game') }}" class="button">Play as Guest</a>
    </div>
</div>

    {% endblock %}
