{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="centered-page">
    <h2>Login</h2>


    <form action="{{ url_for('check_login') }}" method="POST" class="login-form">
        <div class="form-field">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>
        </div>

        <div class="form-field">
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
        </div>


        {% if error %}
        <p class="form-error">{{ error }}</p>
        {% endif %}

        <button type="submit" class="button" style="margin-top: 20px;">Login</button>
    </form>


    <p style="margin-top: 20px; color: #666;">Don’t have an account?</p>

    <form action="{{ url_for('create_account_form') }}" method="GET">
        <button type="submit" class="button">Create Account</button>
    </form>
</div>
{% endblock %}
